{{> head }} 
{{> navbar }}

<div class="row">

	<div class="col-8">
		<h1>Pagina de about con una imagen del dector</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure perferendis ipsam omnis, recusandae, aliquid itaque et ratione quod, iste ex dolores. Molestiae ex facere quae praesentium, quibusdam voluptates eum eos!</p>
	</div>

	<div class="col-4">
		<img src="assets/img/medico.jpg" class="img-thumbnail">
	</div>
</div>

{{> footer }}